<div class="container">    
    <div class="top-button">
       <a href="#" routerLink="/add-driver" class="btn btn-danger"> <i class="fa fa-plus">New driver</i> </a>
      </div>    
    <div class="row">
      <div class="col-md-10">
          <h4>Destiny Movers Drivers</h4>
          <table class="table table-bordered table-striped">
            <thead class="thead-inverse">
              <tr>
                  <th>First Name</th>
                  <th>Surname</th>
                  <th>Mobile No</th>
                  <th>Licence No</th>
                  <th>Email Address</th>
                  <th>Truck Number</th>
                  <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Christopher</td>
                <td>Mulwa</td>
                <td>0707200314</td>
                <td>07211564</td>
                <td>mulwatech@gmail.com</td>
                <td>KBS-552J</td>
                <td><button class="btn btn-primary"> <i class="fa fa-info" aria-hidden="true"></i>
                  Details</button></td>
              </tr>
            </tbody>      
          </table>
 
      </div>      
    </div>
    
    
</div>