<div class="container"> 
    <div class="top-button">        
    <a href="#" routerLink="/add-truck" class="btn btn-primary"> <i class="fa fa-plus">  New Truck</i> </a>      
    </div>
    <div class="row">
        <app-loading *ngIf="showLoading"> </app-loading>
        <div class="col-md-12"  *ngIf="!showLoading">
            <h4> Truck Drivers</h4>
            <table class="table table-bordered table-striped" width="100%">
                <thead class="thead-inverse">
                <tr>
                    <th>Truck No</th>
                    <th>Truck Type</th>
                    <th>Truck Capacity</th>
                    <th>Truck Plates No</th>
                    <th>Driver</th>
                    <th>Action</th>
                </tr>            
                </thead>
                <tbody>
                    <tr *ngFor="let truck of trucks">
                        <td>{{truck.truckRegNo}}</td>
                        <td>{{truck.truckType}}</td>
                        <td>{{truck.truckCapacity}}</td>
                        <td>{{truck.truckRegNo}}</td>
                        <td>{{truck.truckDriver}}</td>
                        <td><button class="btn btn-danger"> <i class="fa fa-info"></i> details</button></td>
                    </tr>            
                </tbody>        
            </table>
        </div>        
    </div>      
</div>