<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
      <li class="sidebar-brand">
          <a href="#">
              Destiny Movers
          </a>
      </li>
      <li>
          <a routerLink="/about">About</a>
      </li>
      <li>
          <a routerLink="/services">Services</a>
      </li>      
      <li>
          <a routerLink="/truckDashboard">Trucks</a>
      </li>
      <li>
          <a routerLink="/driverDashboard">Drivers</a>
      </li>
      <li>
          <a routerLink="/truckMonitoring">Real Time Monitoring</a>
      </li>
      <li>
          <a routerLink="/customerDashboard">Customers</a>
      </li>
      
  </ul>
</div>
<!-- /#sidebar-wrapper -->
