<div class="container">     
    <div class="row">
            <app-loading *ngIf="showLoading"></app-loading>
        <div class="col-md-12" *ngIf="!showLoading">
            <h4> Transport Requests</h4>
            <table class="table table-bordered table-striped" width="100%">
                <thead class="thead-inverse">
                <tr>
                    <th>Pick location</th>
                    <th>Drop location</th>
                    <th>Cost</th>
                    <th>Request Type</th>
                    <th>Request note</th>
                    <th>Action</th>
                </tr>            
                </thead>
                <tbody>
                    <tr *ngFor="let request of requests">
                        <td>{{request.pickaddress}}</td>
                        <td>{{request.dropaddress}}</td>
                        <td>{{request.cost}}</td>
                        <td>{{request.truckType}}</td>
                        <td>{{request.requestNote}}</td>
                        <td><button class="btn btn-danger"> <i class="fa fa-info"></i> details</button></td>
                    </tr>            
                </tbody>        
            </table>
        </div>        
    </div>      
</div>
